:root {
  --maincolor: #212121;
  --accentcolor: #2196f3;
  --mainfont: "Roboto", sans-serif;
  --sectioncolor: #eeeeee;
  --btncolor: #f5f4fa;
  --typicallh: 1.33;
  --typycalls: 0.02em;
  --indexcolor: #ffffff;
  --colorp: #757575;
  --colorsocmain: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: var(--mainfont);
  color: var(--maincolor);
  background-color: var(--indexcolor);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--indexcolor);
  background: var(--accentcolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  min-width: 216px;
  height: 50px;
  border: none;
}
.hero__btn:hover {
  background-color: #188ce8;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 41px;
  background-color: var(--indexcolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .model-close-icon,
.modal-btn:focus .model-close-icon {
  fill: var(--accentcolor);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--maincolor);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field-comment {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  outline: transparent;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.model-input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .model-input-icon {
  fill: #2196f3;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--colorp);
  margin-bottom: 4px;
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.input-wrap {
  position: relative;
}

.model-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.checktext {
  font-size: 14px;
  line-height: 1.71;
  color: var(--colorp);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.checktext span {
  width: 16px;
  height: 15px;
}

.check-icon {
  display: block;
}

.input-checkbox:checked + .checktext span {
  fill: var(--accentcolor);
  width: 16px;
  height: 15px;
  background-image: url(../img/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pravicy-link {
  color: rgb(33, 150, 243);
  position: relative;
}
.pravicy-link::after {
  left: 0;
  bottom: 5px;
  content: "";
  position: absolute;
  width: 100%;
  border: 0.5px solid rgb(33, 150, 243);
}

.modal-checkbox {
  margin-bottom: 30px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo__text {
  color: var(--accentcolor);
  border: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #000000;
  letter-spacing: 0.03em;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.mobile-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
  }
}

.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  gap: 50px;
  display: none;
}

.header__link {
  padding: 32px 0;
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--maincolor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--accentcolor);
}

.current {
  color: var(--accentcolor);
}
.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accentcolor);
}

.contact {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--colorp);
}

.contact__link {
  color: var(--colorp);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accentcolor);
}

.contacts {
  display: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover, .contacts:focus {
  color: var(--accentcolor);
}

.icon__contact {
  fill: currentColor;
  margin-right: 10px;
}

.hero__container {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #2f303a;
  margin: 0 auto;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    background-size: cover;
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero-tablet.jpg);
    padding: 118px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
    padding: 200px 0;
    max-width: 1600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--indexcolor);
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.advances-list {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advances-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .advances-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advances-item {
    width: 270px;
    height: 248px;
  }
}

.advances-container {
  display: flex;
  max-width: 450px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--btncolor);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advances-container {
    max-width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .advances-container {
    width: 270px;
    height: 120px;
  }
}

.advances-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advances-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advances-title {
    text-align: left;
  }
}

.advances-text {
  max-width: 450px;
  line-height: 1.71;
  color: var(--colorp);
}

.about__container {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .about__container {
    display: contents;
  }
}

.about__title {
  font-size: 36px;
  text-align: center;
  line-height: 1.67;
  margin-bottom: 50px;
}

.picture__list {
  display: flex;
  gap: 30px;
}

.picture__item {
  position: relative;
}

.picture__text {
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0;
  left: 0;
}

.team__title {
  font-size: 28px;
  text-align: center;
  line-height: 1.18;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team {
  background-color: var(--btncolor);
}

.team-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .team-container {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .team-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.team-item {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 30px) / 4);
  }
}

.container-team-item {
  display: flex;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--colorp);
  margin-bottom: 16px;
}

.team-foto {
  margin-bottom: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.tema-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tema-soc-link:hover, .tema-soc-link:focus {
  border: 11px solid var(--accentcolor);
  border-radius: 100%;
  background-color: var(--accentcolor);
}

.team-icon {
  fill: var(--colorsocmain);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tema-soc-link:hover .team-icon, .tema-soc-link:focus .team-icon {
  fill: var(--indexcolor);
}

.clients-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
  }
}

.client-item {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.client-logo {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client-logo {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-logo {
    width: calc((100% - 150px) / 6);
  }
}

.company-link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-link:hover, .company-link:focus {
  border: 1px solid var(--accentcolor);
}

.company-icon {
  fill: #afb1b8;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-link:hover .company-icon, .company-link:focus .company-icon {
  fill: var(--accentcolor);
}

.portfolio {
  background-color: var(--indexcolor);
  margin: 94px 0;
}

.filter-btn-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--btncolor);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--indexcolor);
  background-color: var(--accentcolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--maincolor);
}

.portfolio-item {
  width: 370px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--colorp);
}

.container-portfolio-description {
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;
}

.portfolio-img {
  max-width: 100%;
  height: auto;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* margin-bottom: 94px; */
  width: calc(100% - 60px)/3;
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--indexcolor);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio-item:hover .portfolio-text {
  transform: translateY(0);
}

.footer {
  background-color: #2f303a;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

.adress-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.adress-item {
  line-height: 1.71;
  color: var(--indexcolor);
  display: block;
}

.adress {
  display: flex;
}

.footer-soc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--indexcolor);
  margin-bottom: 20px;
}

.team-footer-link {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-team-icon {
  fill: var(--indexcolor);
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-adress-container {
  margin-right: 70px;
}

.footer-soc-container {
  margin-right: 93px;
}

.form-text {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--indexcolor);
  margin-bottom: 20px;
}

.email-input {
  color: var(--indexcolor);
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
}
.email-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.email-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.email-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.email {
  display: flex;
}

.email-btn {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */