:root {
    --maincolor: #212121;
    --accentcolor: #2196f3;
    --mainfont: "Roboto", sans-serif;
    --sectioncolor: #eeeeee;
    --btncolor: #f5f4fa;
    --typicallh: 1.33;
    --typycalls: 0.02em;
    --indexcolor: #ffffff;
    --colorp: #757575;
    --colorsocmain: #afb1b8;
}