.logo__text {
    color: var(--accentcolor);
    border: none;
}

.header {
    border-bottom: 1px solid #ececec;
}

.header__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: #000000;
    letter-spacing: 0.03em
     
    
    // font-size: 26px;
}

.header__container {
    display: flex;
    align-items: center;
}

.nav {
    display: none;
    @include tablet {
width: 720px;
     display: flex;
    align-items: center;
    margin-right: auto;

    }
    
}

.contacts {
    display: none;
        @include tablet {
width: 720px;
 display: flex;
 align-items: center;
gap: 50px;
justify-content: center;
}
}


.menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    gap: 50px;
}

.header__link {
    padding: 32px 0;
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--maincolor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accentcolor);
    }
}



.current {
    color: var(--accentcolor);

    &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accentcolor);
    }
}



.contact {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--colorp);
}

.contact__link {
    color: var(--colorp);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accentcolor);
    }
}

.contacts {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accentcolor);
    }
}


.icon__contact {
    fill: currentColor;
    margin-right: 10px;
}